---
slug: /config
title: Configuration
---

## Environment variables

You can configure the app at runtime using various environment variables:

- `{{ envprefix }}__APIS__ICANHAZDADJOKE__HOST` -
  host of the icanhazdadjoke API
  (default: `icanhazdadjoke.com`)
- `{{ envprefix }}__APIS__ICANHAZDADJOKE__PATH` -
  path of the icanhazdadjoke API
  (default: ``)
- `{{ envprefix }}__APIS__ICANHAZDADJOKE__PORT` -
  port of the icanhazdadjoke API
  (default: ``)
- `{{ envprefix }}__APIS__ICANHAZDADJOKE__SCHEME` -
  scheme of the icanhazdadjoke API
  (default: `https`)
- `{{ envprefix }}__DEBUG` -
  enable debug mode
  (default: `true`)
{%- if identity %}
- `{{ envprefix }}__IDENTITY__USERS__DEBUG__ID` -
  identifier of the debug user
  (default: `debug`)
- `{{ envprefix }}__IDENTITY__USERS__DEBUG__TRAITS__LOCALES__PREFERRED` -
  preferred locale of the debug user
  (default: ``)
- `{{ envprefix }}__IDENTITY__USERS__DEBUG__TRAITS__NAMES__DISPLAY` -
  display name of the debug user
  (default: `Debug User`)
- `{{ envprefix }}__IDENTITY__USERS__DEBUG__TRAITS__PICTURES__PROFILE__URL` -
  profile picture URL of the debug user
  (default: ``)
{%- endif %}
- `{{ envprefix }}__SERVER__HOST` -
  host to run the server on
  (default: `0.0.0.0`)
- `{{ envprefix }}__SERVER__PORT` -
  port to run the server on
  (default: `{{ port }}`)
