.button-inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: visible;
}

.button-label {
  align-items: center;
  display: flex;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
}

.button-root {
  border: 0.0625rem solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  height: 2.25rem;
  line-height: 1;
  overflow: hidden;
  padding-inline: 1.125rem;
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  width: auto;
}

.stack {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

.title {
  font-family: sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}
