{% if identity -%}
import { identity } from "./vars/identity";
{% endif -%}
import { localization } from "./vars/localization";
import { test } from "./vars/test";

export const orpcProcedures = {
  {%- if identity %}
  identity: identity,
  {%- endif %}
  localization: localization,
  test: test,
};
