.outer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 5rem;
  width: 100%;
}

.inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-inline: auto;
  max-width: 1140px;
  padding-inline: 1rem;
  width: 100%;

  & > * {
    flex: 1;
  }
}
