services:
  {{ appname }}:
    build:
      context: ./
      network: host
    environment:
      - "{{ envprefix }}__APIS__ICANHAZDADJOKE__HOST=${ {{- envprefix }}__APIS__ICANHAZDADJOKE__HOST:-icanhazdadjoke.com}"
      - "{{ envprefix }}__APIS__ICANHAZDADJOKE__PATH=${ {{- envprefix }}__APIS__ICANHAZDADJOKE__PATH:-}"
      - "{{ envprefix }}__APIS__ICANHAZDADJOKE__PORT=${ {{- envprefix }}__APIS__ICANHAZDADJOKE__PORT:-}"
      - "{{ envprefix }}__APIS__ICANHAZDADJOKE__SCHEME=${ {{- envprefix }}__APIS__ICANHAZDADJOKE__SCHEME:-https}"
      - "{{ envprefix }}__DEBUG=${ {{- envprefix }}__DEBUG:-true}"
      - "{{ envprefix }}__SERVER__HOST=${ {{- envprefix }}__SERVER__HOST:-0.0.0.0}"
      - "{{ envprefix }}__SERVER__PORT=${ {{- envprefix }}__SERVER__PORT:-{{ port -}} }"
    network_mode: host
