{
  "name": "{{ appname }}",
  "private": true,
  "scripts": {
    "dev": "next dev --webpack --hostname \"${ {{- envprefix }}__SERVER__HOST:-0.0.0.0}\" --port \"${ {{- envprefix }}__SERVER__PORT:-{{ port -}} }\"",
    "run": "next start --hostname \"${ {{- envprefix }}__SERVER__HOST:-0.0.0.0}\" --port \"${ {{- envprefix }}__SERVER__PORT:-{{ port -}} }\""
  },
  "browserslist": [
    "defaults"
  ],
  "overrides": {
    "@swc/core": "1.15.47"
  },
  "dependencies": {
    "@lingui/core": "~6.9",
    "@lingui/react": "~6.9",
    "@mantine/core": "~9.6",
    "@mantine/dates": "~9.6",
    "@mantine/form": "~9.6",
    "@mantine/hooks": "~9.6",
    "@mantine/notifications": "~9.6",
    "@orpc/client": "~1.15",
    "@orpc/contract": "~1.15",
    "@orpc/server": "~1.15",
    "@orpc/tanstack-query": "~1.15",
    "@radio-aktywne/ui": "github:radio-aktywne/ui#0.9.0",
    "@rsdoctor/webpack-plugin": "~1.6",
    "@tanstack/react-query": "~5.104",
    "@unhead/react": "~3.4",
    "client-only": "~0.0",
    "dayjs": "~1.11",
    "es-toolkit": "~1.52",
    "flat": "~6.0",
    "next": "16.3.8",
    "react": "~19.3",
    "react-dom": "~19.3",
    "react-icons": "~5.7",
    "server-only": "~0.0",
    "use-deep-compare": "~1.3",
    "valtio": "~2.3",
    "zod": "~4.3",
    "zod-config": "~1.4"
  },
  "devDependencies": {
    "@eslint/config-helpers": "~0.7",
    "@eslint/js": "~9.39",
    "@hey-api/openapi-ts": "~0.99",
    "@lingui/cli": "~6.9",
    "@lingui/format-po": "~6.9",
    "@lingui/loader": "~6.9",
    "@lingui/swc-plugin": "6.6.0",
    "@next/eslint-plugin-next": "16.3.8",
    "@tanstack/eslint-plugin-query": "~5.104",
    "@tanstack/react-query-devtools": "~5.104",
    "@tsconfig/bases": "~1.0",
    "@types/node": "~26.6",
    "@types/react": "~19.3",
    "@types/react-dom": "~19.3",
    "eslint": "9.39.5",
    "eslint-plugin-lingui": "~0.16",
    "eslint-plugin-perfectionist": "~5.11",
    "eslint-plugin-react": "~7.37",
    "eslint-plugin-react-hooks": "~7.1",
    "globals": "~17.12",
    "postcss-preset-mantine": "~1.18",
    "postcss-simple-vars": "~7.0",
    "source-map-loader": "~5.0",
    "stylelint": "17.15.0",
    "stylelint-config-alphabetical-order": "~2.0",
    "stylelint-config-css-modules": "~4.6",
    "stylelint-config-prettier-scss": "~1.0",
    "stylelint-config-standard-scss": "~17.0",
    "type-fest": "~5.9",
    "typescript": "~5.9",
    "typescript-eslint": "~8.70"
  },
  "devEngines": {
    "packageManager": {
      "name": "npm",
      "version": "~11.19"
    },
    "runtime": {
      "name": "node",
      "version": "~26.8"
    }
  },
  "allowScripts": {
    "@radio-aktywne/ui": true
  }
}
